.antique{
    body{
        background: -webkit-linear-gradient(top, rgba(antiquewhite, 0.3), rgba(antiquewhite, 0.3)), url("fabric_plaid.png");
        font-family: Palatino,Georgia,"Times New Roman";
        color: #333;
        text-shadow: 0 1px 1px #fff;
    }
}